.Login {
  width: 1000px;
  background-color: #FDFEFE;

  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 100px;
  padding: 30px;

  border-radius: 10px;
}

.Login .title_wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.Login .title_wrapper .title {
  font-size: 32px;
}

.Login .title_wrapper .sub_title {
  font-size: 20px;
}

.Login hr {
  
}