.Button_NEW {
  width: 400px;
  height: 35px;
  background-color: #007FC5;
  color: white;
}

.Button_REGISTER {
  width: 250px;
  height: 30px;
  border: 1px solid #6F8189;
}

.Button_LOGIN {
  width: 250px;
  height: 30px;
  background-color: #007FC5;
  color: white;
}

.Button_CANCEL {
  width: 200px;
  height: 30px;
  background-color: #E4F1F5;
  
}

.Button_CONFIRM {
  width: 200px;
  height: 30px;
  background-color: #007FC5;
  color: white;
}