.Header {
  display: flex;
  background-color: #E4F1F5;
  flex-direction: column;
  margin-bottom: 30px;
}

.Header .header-title {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 60px;
  font-size: 32px;
}

.Header .header-nav {
  display: flex;
  justify-content: center;
  gap: 20px;

  height: 30px;
  font-size: 14px;
}

.Header .header-nav .active {
  color: #007FC5;
}
.Header .header-nav .inactive {
  color: #6F8189;
}