.LogList {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.LogList .list_wrapper {
  width: 800px;
  min-height: 400px;
  background-color: #FDFEFE;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.LogList .list_wrapper .list_category {
  display: flex;
  justify-content: space-around;
  align-items: center;
}