@tailwind base;
@tailwind components;
@tailwind utilities;

.black-han {
  font-family: "Black Han Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.do-hyeon {
  font-family: "Do Hyeon", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.main-bg {
  background-color: #007FC5;
}

.whole-bg {
  background-color: #F5F9FB;
}

.sub-bg {
  background-color: #E4F1F5;
}

.card-bg {
  background-color: #FDFEFE;
}

.swim-free {
  background-color: #007FC5;
}

.swim-back {
  background-color: #059669;
}

.swim-breast {
  background-color: #D97706;
}

.swim-fly {
  background-color: #DC2626;
}

html, body {
  background-color: #F5F9FB;
}