@tailwind base;
@tailwind components;
@tailwind utilities;

.black-han {
  font-family: "Black Han Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.do-hyeon {
  font-family: "Do Hyeon", sans-serif;
  font-weight: 400;
  font-style: normal;
}

html, body {
  background-color: #F5F9FB;
}